body{
    background: #e5e5e5;
    font-family:'Kanit', sans-serif;
}

.tittle{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
}

.text-input, .text-input-salida{
    font-family: 'Karla', sans-serif;
    height: 1.6em;
    width: 50%
}

.btn, .copy-btn{
    height: 2em;
    width: 6.5em;
    font-family:'Kanit', sans-serif;
}

img.linkedIn, img.instagram, img.github {
    width: 1.8em;
    height: 1.8m;
    margin: 0 0 0 1em;
}

footer {
    text-align: center;  
    width: 100%;
    height: 8%;
    bottom: 0;
    position:fixed;
}

/*
                     _        _                 _      _                      _ _    
                    | |      | |               (_)    | |                    (_| |   
 _ __ ___   __ _  __| | ___  | |__  _   _   ___ _ _ __| | ___ _ __ ___   __ _ _| | __
| '_ ` _ \ / _` |/ _` |/ _ \ | '_ \| | | | / __| | '__| |/ _ | '_ ` _ \ / _` | | |/ /
| | | | | | (_| | (_| |  __/ | |_) | |_| | \__ | | |  | |  __| | | | | | (_| | |   |
|_| |_| |_|\__,_|\__,_|\___| |_.__/ \__, | |___|_|_|  |_|\___|_| |_| |_|\__,_|_|_|\_\
                                     __/ |                                           
                                    |___/                                            
*/