#backgroundVideo{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.tittle{
    position: flex;
    text-align: center;
    font-size: 2em;
    padding: 0.5em 0 0 0;
    color: white;
}

.fullHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part1{
    width: 50%;
    height: 30em;
    display: inline-block;
    padding: 1em 0 0 0 ;

}

.part1tittle{
    padding: 0 0 1em 1em;
    color: white;
}

.textBox{
    padding: 0 0 0 1em;
}

.textInput{
    height: 30em;
}

.part1buttons{
    padding: 1em 0 0 1em;
}

.button1 + .button2 {
    margin-left: 1.5em;
}


.textOutput{
    height: 30em;
}

.part1 + .part2 {
    margin-left: 12em;
}

.part2{
    width: 50%;
    height: 30em;
    display: inline-block;
    padding: 1em 0 0 0;
}

.part2tittle{
    padding: 0 0 1em 0.7em;
    color: white;
}

.messageBox{
    position: flex;
    right: 0;
    width: 50%;
    top: 0;
}

.textBox2{
    padding: 0 0 0 0.7em;
}

.part2buttons{
    padding: 1em 0 0 0.7em;
}


footer{
    text-align: center;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
}

.linkedIn,.github{
    width: 1.7em;
    height: 1.7em;
    padding: 1em 0.2em 1em 0.2em;
}

.instagram{
    width: 2.5em;
    height: 2.5em;
    padding: 1em 0.2em 0.55em 0.2em;
}

/*
                     _        _                 _      _                      _ _    
                    | |      | |               (_)    | |                    (_| |   
 _ __ ___   __ _  __| | ___  | |__  _   _   ___ _ _ __| | ___ _ __ ___   __ _ _| | __
| '_ ` _ \ / _` |/ _` |/ _ \ | '_ \| | | | / __| | '__| |/ _ | '_ ` _ \ / _` | | |/ /
| | | | | | (_| | (_| |  __/ | |_) | |_| | \__ | | |  | |  __| | | | | | (_| | |   |
|_| |_| |_|\__,_|\__,_|\___| |_.__/ \__, | |___|_|_|  |_|\___|_| |_| |_|\__,_|_|_|\_\
                                     __/ |                                           
                                    |___/                                            
*/